* {
  font-family: var(--font-comfortaa);
}


h2 {
  margin: 0.3em;
  text-align: center;
  font-size: 54px;
}

img {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}