form {
    margin: auto;
    padding: 40px;
    width: 70%;
    background-color: white;    
    border-radius: 15px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    align-items: center;        
    justify-content: center;    
    text-align: center;         
    font-size: 36px;            
    font-weight: bold;            
    color: #333;                 
    position: relative; 
}

button {
    margin: 1em;
    font-family: var(--font-comfortaa);
    font-size: x-large;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

button:hover {
    animation-name: change-color;
    animation-duration: 0.3s;
    background-color: lightskyblue;
}

@keyframes change-color {
    from { background-color: white;}
    to {background-color: lightskyblue;}
}

section.search-form-wrapper {
    max-width: fit-content;
    margin: auto;
}

div.form-label {
    padding: 0.5em;
    border-bottom: solid #333;
    text-align: left;
}

label {
    padding: 0.5em 0em;
}

select, input {
    margin-left: 0.3em;
    padding: 10px;
    font-size: 36px;
}

input.data-input {
    max-width: 100px;
    border-color: red;
    border-width: 30px;
}

input.checkbox { /* add .checkbox to the checkbox in Input.tsx */
    width: 36px;
    height: 36px;
}
