form {
    margin: auto;
    padding: 40px;
    width: 70%;
    background-color: white;    
    border-radius: 15px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    align-items: center;        
    justify-content: center;    
    text-align: center;         
    font-size: 24px;            
    font-weight: bold;            
    color: #333;                 
    position: relative; 
}

button {
    margin: 1em;
    font-family: var(--font-comfortaa);
    font-size: x-large;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

button:hover {
    animation-name: change-color;
    animation-duration: 0.3s;
    background-color: lightskyblue;
}

@keyframes change-color {
    from { background-color: white;}
    to {background-color: lightskyblue;}
}

section.search-form-wrapper {
    max-width: fit-content;
    margin: auto;
}

div.form-label {
    padding: 0.5em;
    border-bottom: solid #333;
    text-align: left;
}

div.form-descr {
    padding: 0.2em;
    display: inline;
}

br.category-line-break {
    display: none;
}

.category-select :nth-child(8n) {
    display: block;
}

span.category {
    padding: 0.2em;
}

div.date {
    padding: 0;
    border-bottom: hidden;
    display: inline;
}

label {
    padding: 0.5em 0em;
}

select, input {
    margin-left: 0.3em;
    padding: 10px;
    font-size: 24px;
}

input.date-input {
    margin-right: 0.5em;
}

.v-align-center {
    vertical-align: middle;
}

input.checkbox { /* add .checkbox to the checkbox in Input.tsx */
    width: 36px;
    height: 36px;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Center the spinner */
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust as needed */
  }