body {
  padding: 1em;
}

h1 {
  margin: 0em;
  font-size: 84px;
}

button {
  font-size: x-large;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
  border-style: hidden;
  border-color: black;
}

h2 {
  margin: 0em;
}

ul {
  font-size: larger;
}