body {
  font-family: "Comfortaa";
  padding: 1em;
}

h1 {
  margin: 0em;
  font-size: 84px;
}

form {
  margin: auto;
  padding: 20px;
  width: 70%;
  background-color: white;    
  border-radius: 15px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  align-items: center;        
  justify-content: center;    
  text-align: center;         
  font-size: 36px;            
  font-weight: bold;            
  color: #333;                 
  position: relative; 
}

div.form-label {
  padding: 0.5em;
  border-bottom: solid #333;
  text-align: left;
}

label {
  padding: 0.5em 0em;
}

select, input {
  font-size: 36px;
}

input.checkbox { /* add .checkbox to the checkbox in Input.tsx */
  width: 36px;
  height: 36px;
}

button {
  margin: 1em;
  font-family: "Comfortaa";
  font-size: x-large;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

button:hover {
  animation-name: change-color;
  animation-duration: 0.3s;
  background-color: lightskyblue;
}

@keyframes change-color {
  from {
    background-color: white;
  } to {
    background-color: lightskyblue;
  }
}

h2 {
  margin: 0em;
}

ul {
  font-size: larger;
}